/bin/*
/KeePassLib.dll
/KeePassLib/obj/*
/powerpass.salt
/test/kpdb-keyuser.kdbx
/test/kpdb-pwuser.kdbx
/test/kpdb-pwkeyuser.kdbx
/test/kpdb-user.kdbx
/test/locker.salt
/test/powerpass.locker
/test/powerpass.salt
/test/test.locker
/test/testlocker.salt
/test/testmodule.salt
/test/aes.key
/test/checkdata.txt
/test/data.aes
/test/.locker_key
/test/.powerpass_locker
/test/powerpass_locker.bin
/powerpass.sln
/release/*
/TSS/bin/*
cim.json
nic.json
PowerPass*.zip
PowerPass*.tar.gz