/bin/*
/KeePassLib.dll
/KeePassLib/obj/*
/powerpass.salt
/test/kpdb-keyuser.kdbx
/test/kpdb-pwuser.kdbx
/test/kpdb-pwkeyuser.kdbx
/test/kpdb-user.kdbx
/test/powerpass_locker.bin
/test/aes.key
/test/data.aes
/test/.locker_key
/test/.powerpass_locker
/powerpass.sln
/release/*
cim.json
nic.json
PowerPass*.zip
PowerPass*.tar.gz
hash.json