/bin/*
/KeePassLib.dll
/KeePassLib/obj/*
/powerpass.salt
/PowerPassTests/kpdb-keyuser.kdbx
/PowerPassTests/kpdb-pwuser.kdbx
/PowerPassTests/kpdb-pwkeyuser.kdbx
/PowerPassTests/kpdb-user.kdbx
/PowerPassTests/locker.salt
/PowerPassTests/powerpass.locker
/PowerPassTests/powerpass.salt
/PowerPassTests/test.locker
/PowerPassTests/testlocker.salt
/PowerPassTests/testmodule.salt
/PowerPassTests/aes.key
/PowerPassTests/checkdata.txt
/PowerPassTests/data.aes
/PowerPassTests/.locker_key
/PowerPassTests/.powerpass_locker
/powerpass.sln
/TSS/bin/*
cim.json