<!DOCTYPE html>
<html>

<head>
	<title>PowerPass Browser Edition</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="UTF-8">
	<script src="jquery-3.7.1.js"></script>
	<script src="sightglass.js"></script>
	<script src="rivets.js"></script>
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="bootstrap.min.js"></script>
	<!-- static.js implements the script loader -->
	<script src="static.js"></script>
	<!-- Remaining scripts are loaded dynamically at end of page by RequireJS -->
</head>

<body>
	<div id="maindiv" class="container text-center">
		<h1>
			PowerPass Browser Edition
		</h1>
		<!-- Open and Close buttons -->
		<span>
			<button class="btn btn-primary mt-4" onclick="objIndex.openLocker();">Open Locker</button>
			<button class="btn btn-primary mt-4" onclick="objIndex.closeLocker()">Close Locker</button>
		</span>
		<div id="mydiv" class="table-responsive mt-4" rv-if="data.loaded">
			<table class="table text-left">
				<tr>
					<th>Title</th>
					<th>Username</th>
					<th>Password</th>
					<th>&nbsp;</th>
				</tr>
				<!-- Add and Edit controls -->
				<tr>
					<td>
						<input id="textTitle" type="text" class="form-control mt-4" placeholder="Enter Title of secret">
					</td>
					<td>
						<input id="textUsername" type="text" class="form-control mt-4" placeholder="Username">
					</td>
					<td>
						<input id="textPassword" type="text" class="form-control mt-4" placeholder="Password">
					</td>
					<td>
						<button id="btnAdd" class="btn btn-primary mt-4" onclick="objIndex.addSecret();">
							Add New Secret
						</button>
					</td>
				</tr>
				<!-- Locker secrets -->
				<tr rv-each-sec="data.locker.secrets">
					<td>{ sec.title }</td>
					<td>{ sec.username }</td>
					<td>
						<span rv-unless="sec.revealed">********</span>
						<span rv-if="sec.revealed"><code>{ sec.password }</code></span>
					</td>
					<td>
						<button rv-id="sec.title" class="btn btn-primary mt-4"
							onclick="objIndex.revealPw(this)">Reveal</button>
					</td>
					</td>
				</tr>
			</table>
		</div>
		<!-- Messages to the user -->
		<div id="message" class="mt-4">{ data.message }</div>
	</div>

	<!-- startup.js -->
	<script type="text/javascript">
		var rando = getRandomVersionNumber();
		var script = document.createElement('script');
		script.src = 'require.min.js';
		script.setAttribute("data-main", 'config.js?v=' + rando);
		document.getElementsByTagName('head')[0].appendChild(script);
	</script>
</body>

</html>