<!DOCTYPE html>
<html>

<head>
	<title>PowerPass Browser Edition</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="UTF-8">
	<script src="jquery-3.7.1.js"></script>
	<script src="sightglass.js"></script>
	<script src="rivets.js"></script>
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="popper.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="static.js"></script>
	<!-- Remaining scripts are loaded dynamically at end of page by startup.js -->
</head>

<body>
	<!-- main div area -->
	<div id="maindiv" class="container text-center">
		<h1>
			PowerPass Browser Edition
		</h1>
		<button class="btn btn-primary mt-4" onclick="objIndex.btnClick();">Open Locker</button>
		<div id="mydiv" class="mt-4" rv-if="data.loaded">
			<table class="container text-center">
				<tr>
					<th>Title</th>
					<th>Username</th>
					<th>Password</th>
					<th>Reveal</th>
				</tr>
				<tr rv-each-sec="data.locker.secrets">
					<td>{ sec.title }</td>
					<td>{ sec.username }</td>
					<td>
						<span rv-unless="sec.revealed">********</span>
						<span rv-if="sec.revealed"><code>{ sec.password }</code></span>
					</td>
					<td>
						<button rv-id="sec.title" class="btn btn-primary mt-4" onclick="objIndex.revealPw(this)">Reveal</button>
					</td>
					</td>
				</tr>
			</table>
		</div>
		<div id="message" class="mt-4">{ data.message }</div>
		<button class="btn btn-primary mt-4" onclick="objIndex.addSecret();">Add New Secret</button>
	</div>

	<!-- startup.js -->
	<script type="text/javascript">
		addScriptAtHeader('startup.js');
	</script>
</body>

</html>